.bot-panel {
    padding-right: 0.625rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
}

.bot-panel-blue {
    background-color: #0056B4;
}

.bot-panel-purple {
    background-color: #634689;
}

.bot-panel-black {
    background-color: #484848;
}

.fagsystem-padding {
    padding-right: 2.5rem;
}

.font-styling {
    color: white;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.876rem;
}

.fagsystem-element a, div {
    padding-right: 2.5rem;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}

.margin-area {
    min-width: 6rem;
    max-width: 6rem;
}

.content-area {
    align-items: center;
}

.slds-text-link {
    cursor: pointer;
}

.slds-text-link:hover {
    color: inherit;
}