.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 1rem;
    line-height: 1.2;
    height: auto;
    white-space: normal;
    word-wrap: break-word;
}

.button-container {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    gap: 0.5rem;
}
