.text-link {
    cursor: pointer;
}

.field-position {
    position: relative;
}

.copy-icon {
    position: absolute;
    right: 20px;
    bottom: 15px;
}

.slds-wrap {
    align-items: end;
}

lightning-output-field {
    display: flex !important;
    align-items: flex-end !important;
}