.panel-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
}

.panel-header-min-height {
    min-height: 3rem;
}

.panel-header-padding-small {
    padding: 0.8rem 0.3rem;
}

.panel-header-padding-medium {
    padding: 0.8em 1.25rem 0.8rem 2rem;
}

.panel-header-space-between {
    justify-content: space-between;
}

.panel-header-first {
    border-top: 1px solid #a9a9a9;
}

.panel-background {
    background-color: #ffffff;
}

.panel-background-bottom-border {
    border-bottom: 1px solid #a9a9a9;
}

.custom-icon-background,
.panel-background-expanded,
.panel-header:hover {
    background-color: #e9f0ff;
}

.panel-body {
    padding-left: 1.5rem;
    padding-right: 1rem;
    background-color: #ffffff;
}

.panel-body-small {
    padding-left: 1.5rem;
}

.panel-body-medium {
    padding-left: 2rem;
}

.panel-body-left {
    border-left: 2px solid #c1c4cb;
    margin: 0.5rem 0 1rem 1rem;
}

.panel-body-min-height {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.panel-body-center-text {
    display: flex;
    align-items: center;
}

.custom-icon-chevron,
.panel-header:hover .custom-icon-background {
    fill: #00459c;
}

.custom-icon-background,
.panel-header:hover .custom-icon-chevron {
    fill: #e9f0ff;
}

.custom-icon-chevron {
    fill: #00459c;
}

.rotate-chevron {
    transform: rotate(-180deg);
}

.rotate-chevron,
.custom-chevron {
    transition: transform 0.2s ease;
}

.card-border {
    border: 1px solid #767676;
    border-radius: 5px;
    overflow: hidden;
}

.panel-divider {
    border-bottom: 1px solid #cccccc;
}
