.panel-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    padding: 0.8rem 0.3rem;
}

.panel-header-space-between {
    justify-content: space-between;
}

.panel-header-first {
    border-top: 1px solid #a9a9a9;
}

.panel-background {
    background-color: #ffffff;
    border-bottom: 1px solid #a9a9a9;
}

.custom-icon-background,
.panel-background-expanded,
.panel-header:hover {
    background-color: #e9f0ff;
}

.panel-body {
    padding-left: 1.5rem;
    padding-right: 1rem;
    background-color: #ffffff;
}

.panel-body-left {
    border-left: 2px solid #c1c4cb;
    margin: 0.5rem 0 1rem 1 rem;
}

.custom-icon-chevron,
.panel-header:hover .custom-icon-background {
    fill: #00459c;
}

.custom-icon-background,
.panel-header:hover .custom-icon-chevron {
    fill: #e9f0ff;
}

.custom-icon-chevron {
    fill: #00459c;
}

.rotate-chevron {
    transform: rotate(-180deg);
}

.rotate-chevron,
.custom-chevron {
    transition: transform 0.2s ease;
}
