.flexWithGap {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.infoIcon {
    color: #ffb249;
    margin-right: 0.75rem;
}

.greyInfoIcon {
    color: #c6c6c6;
    margin-right: 0.75rem;
}

.backgroundStyling {
    position: absolute;
    z-index: 100;
    min-width: max-content;
    top: 5rem;
}

.backgroundStylingBlue {
    background: var(--badge-background, #0056b4);
}
.backgroundStylingPurple {
    background: var(--badge-background, #634689);
}

.backgroundStylingBlack {
    background: var(--badge-background, #484848);
}

.headerLine {
    width: 100%;
    height: 0.5rem;
    background: var(--badge-line, #ad0000);
}
