.panel-dark-purple {
    background-color: #523874;
}

.panel-dark-blue {
    background-color: #00459c;
}

.font-styling {
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.876rem;
}

.content-padding {
    padding-right: 2.5rem;
}

.margin-area {
    min-width: 6rem;
    max-width: 6rem;
}

.mid-panel {
    padding-right: 0.625rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    border-top: 0.0625rem solid #66a5f4;
}
