.panel-dark-purple {
    background-color: #523874;
    border-top-color: #9a80bd !important;
}

.panel-dark-blue {
    background-color: #00459c;
    border-top-color: #66a5f4 !important;
}

.panel-dark-grey {
    background-color: #363636;
    border-top-color: #858585 !important;
}

.panel-dark-brown {
    background-color: #4d3c23;
}

.font-styling {
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.876rem;
}

.content-padding {
    padding-right: 2.5rem;
}

.margin-area {
    min-width: 5rem;
    max-width: 5rem;
}

.mid-panel {
    padding-right: 0.625rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    display: flex;
    align-items: center;
    border-top: 0.0625rem solid #858585;
}
