.highlightPanel {
    font-size: 16px;
    line-height: 1.5rem;
    color: white;
    width: 100%;
}

.highlightPanelTop {
    height: 5.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.border-height {
    height: 0.125rem;
}

.border-light-blue {
    background-color: #66a5f4;
}

.border-light-purple {
    background-color: #9a80bd;
}

.border-light-grey {
    background-color: #858585;
}

.panel-blue {
    background-color: #0056b4;
}
.panel-purple {
    background-color: #634689;
}

.panel-black {
    background-color: #484848;
}

.pointer {
    cursor: pointer;
}

.greenBadge,
.yellowBadge,
.redBadge,
.greyBadge {
    border: 2px white solid;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 0.875rem;
    font-weight: normal;
}

.greenBadge {
    background-color: #66c786 !important;
}
.yellowBadge {
    background-color: #ffaa33 !important;
    color: black !important;
}
.redBadge {
    background-color: #ad0000 !important;
}
.greyBadge {
    background-color: #c6c6c6 !important;
}

.greenBadge + div c-nks-person-highlight-panel-badge-content {
    --badge-line: #66c786;
}
.yellowBadge + div c-nks-person-highlight-panel-badge-content {
    --badge-line: #ffaa33;
}
.redBadge + div c-nks-person-highlight-panel-badge-content {
    --badge-line: #ad0000;
}
.greyBadge + div c-nks-person-highlight-panel-badge-content {
    --badge-line: #c6c6c6;
}
