.custom-padding-right-small {
    padding-right: 0.5rem;
}

.custom-padding-left-large {
    padding-left: 1.5rem;
}

.custom-padding-right-large {
    padding-right: 1.5rem;
}

.custom-padding-top-large {
    padding-top: 1.5rem;
}

.custom-padding-right-medium {
    padding-right: 1rem;
}

.custom-padding-bottom-x-small {
    padding-bottom: 0.25rem;
}

.custom-padding-bottom-medium {
    padding-bottom: 1rem;
}

p, strong, .custom-font-color, li {
    color: black;
}
